<p>Parent Component</p>


<app-child-component1 [parentValueModel]="parentValue" (onParentValueModelUpdated)="parentValue = $event" (inputChange)="onChildValidataionStatusChange(0, $event)"></app-child-component1>
<app-child-component2 [parentValueModel]="parentValue" (onParentValueModelUpdated)="parentValue = $event" (inputChange)="onChildValidataionStatusChange(1, $event)"></app-child-component2>
<app-child-component3 [parentValueModel]="parentValue" (onParentValueModelUpdated)="parentValue = $event" (inputChange)="onChildValidataionStatusChange(2, $event)"></app-child-component3>

<p style="color: red;" *ngIf="!isAllchildsValid">In Valid</p>
<p style="color: blue;" *ngIf="isAllchildsValid">Valid</p>
