<p>Parent Component</p>


<app-child-component1 [parentValueModel]="parentForms" [formName]='"child1"'></app-child-component1>
<app-child-component2 [parentValueModel]="parentForms" [formName]='"child2"'></app-child-component2>
<app-child-component3 [parentValueModel]="parentForms" [formName]='"child3"'></app-child-component3>

<p style="color: red;" *ngIf="!areAllChildGroupsValid()">In Valid</p>
<p style="color: blue;" *ngIf="areAllChildGroupsValid()">Valid</p>



<div>
    {{parentForms.value | json}}
</div>